<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder
		location="classpath:application.properties" />

	<bean id="myTool"
		class="com.branch.don.practice_for_spring.bean.impl.tool.Hammer">
	</bean>

	<bean id="myPlay"
		class="com.branch.don.practice_for_spring.bean.impl.playservice.HumanPlay">
	</bean>

	<bean id="myAnimal"
		class="com.branch.don.practice_for_spring.bean.impl.animal.Human"
		scope="singleton">
		<constructor-arg ref="myTool" />
		<property name="playService" ref="myPlay" />
		<property name="email" value="${software.ownerEmail}" />
	</bean>

	<bean id="myAnimalDog"
		class="com.branch.don.practice_for_spring.bean.impl.animal.Dog"
		scope="prototype" init-method="initMyDog"
		destroy-method="destroyMyDog">
	</bean>

	<bean id="myAnimalCat"
		class="com.branch.don.practice_for_spring.bean.impl.animal.Cat"
		scope="singleton" init-method="initMyCat"
		destroy-method="destroyMyCat">
	</bean>

</beans>